$break-mobile = 480px;
$break-tablet = 768px;
$highlight-color = #717F76;
$cta-color = #46CC74;
$white = #fff;
$dark-grey = #1a1a1a;
$light-grey = #dcdcdc;
$transparent-grey = rgba(220,220,220, .3);
$error = rgba(217,43,43,.8);
$shadow = #1a1a1a;

// global
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
body {
  color: $dark-grey;
  font-family: verdana;
}
div,
form,
textarea {
  box-sizing: border-box;
  font-size: 1em;
}
textarea {
  border: 3px solid $light-grey;
  height: 300px;
}
p {
  padding: 20px;
}
h2 {
  color: $highlight-color;
  font-weight: 600;
  padding: 10px 0;
}

// utility
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 70%;
}
.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-top {
  margin-top: 0;
  padding-top: 0;
}
.bold {
  font-weight: 600;
}
.main {
  flex: 1;
  min-height: 100vh;
}

// header/footer
header, footer {
  align-items: center;
  color: $white;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
}
footer {
  background: $light-grey;
  span {
    padding: 0 20px;
  }
}
header {
  background: $highlight-color;
  h1 {
    font-size: 1.5em;
    padding: 0 20px;
    text-shadow: 1px 1px 1px $shadow;
  }
}

// form
form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.error {
  background: $error;
  box-sizing: border-box;
  color: $white;
  margin: 0 10%;
  padding: 10px;
  position: absolute;
  top: 20%;
  text-align: center;
  width: 80%;
}
.button-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}
button {
  background: $highlight-color;
  border: none;
  color: $white;
  margin: 20px 20px 0 0;
  padding: 10px 50px;
  min-width: 200px;
}
.cta {
  background: $cta-color;
}

// results
.json-formatted {
  background: $transparent-grey;
  font-size: .9em;
  margin-bottom : 20px;
  padding: 20px;
  ul {
    line-height: 1.5em;
    padding-left: 30px;
    word-wrap: break-word;
  }
}

// responsive
@media (max-width: $break-mobile) {
  .container {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 20px;
    margin: none;
    width: 100%;
  }
}
@media (max-width: $break-tablet) {
  button {
    margin-right: 0;
    width: 100%;
  }
}
